.movie_detail_details {
  display: flex;
  justify-content: space-between;
  margin: 80px 30px 0;
  border: 2px solid #c8c8c8;
  padding: 20px;
  border-radius: 10px;
}

.movie_detail_image {
  flex: 1 0 20px;
  margin-right: 20px;
}

.movie_detail_image img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
}

.movie_detail_info {
  flex: 2 1 750px;
  margin-left: 20px;
}

.movie_detail_info h1 {
  margin-top: 0;
}

.movie_detail_info p {
  margin-bottom: 10px;
}

.goBack {
  position: absolute;
  top: 20px;
  left: 120px;
  font-weight: bold;
  padding: 5px 20px;
  font-size: 14px;
  color: white;
  background-color: darkslategrey;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 1100;
}

.goBack:hover {
  background-color: black;
}

.CastReviews {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: blue;
}

.inform {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.margin {
  margin-right: 20px;
}

.additionalButtonCast {
  font-weight: bold;
  padding: 3px 30px;
  font-size: 14px;
  color: white;
  background-color: darkslategrey;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.additionalButtonReviews {
  font-weight: bold;
  padding: 3px 20px;
  font-size: 14px;
  color: white;
  background-color: darkslategrey;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.additionalButtonCast:hover,
.additionalButtonReviews:hover {
  background-color: black;
}

.additionalInfo {
  border: 2px solid #c8c8c8;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 30px 0;
}