.div_Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.h2_Home {
  font-size: 35px;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  color: blue;
}

.ul_Home {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.li_Home {
  width: 200px;
  text-align: center;
}

.poster_Home {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.link_Home {
  text-decoration: none;
  color: darkslategray;
  transition: color 0.3s, text-decoration 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link_Home:hover {
  color: blue;
  cursor: pointer;
}